version: "3"
services:
  auth:
    build: ./auth-api
  users:
    build: ./users-api
    environment:
      AUTH_API_URL: auth
    ports: 
      - "8080:8080"
  tasks:
    build: ./tasks-api
    ports: 
      - "8000:8000"
    volumes:
      - tasks:/app/tasks
    environment:
      TASKS_FOLDER: tasks
      AUTH_API_URL: auth
volumes:
  tasks:
